<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<title>Registration</title>
<style type="text/css">
#choice option {
	color: black;
}

.empty {
	color: gray;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-user" style="font-size: 2em;"></i>
							</h3>
							<h2 class="text-center">Register</h2>
							<div class="panel-body">

								<div th:if="${param.success}">
									<div class="alert alert-info">You've successfully
										registered to our awesome app!</div>
								</div>

								<form th:action="@{/registration}" th:object="${user}"
									method="post">

									<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
										th:each="error : ${#fields.errors('global')}"
										th:text="${error}">Validation error</p>
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 225px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-user color-blue"></i>
												</span> <input id="firstName" class="form-control"
													placeholder="First name" th:field="*{firstName}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('firstName')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 225px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('middleName')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-user color-blue"></i>
												</span> <input id="middleName" class="form-control"
													placeholder="Middle name" th:field="*{middleName}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('middleName')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 225px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-user color-blue"></i>
												</span> <input id="lastName" class="form-control"
													placeholder="Last name" th:field="*{lastName}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('lastName')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>

									<div class="col-md-4 col-md-offset-1">
										<div class="form-group"
											style="width: 325px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon">@</span> <input id="email"
													class="form-control" placeholder="E-mail"
													th:field="*{email}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('email')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>

									<div class="col-md-4 col-md-offset-1">
										<div class="form-group"
											style="width: 325px; margin-left: 5px;"
											th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon">@</span> <input
													id="confirmEmail" class="form-control"
													placeholder="Confirm e-mail" th:field="*{confirmEmail}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('confirmEmail')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>

									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('dob')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-calendar"></i>
												</span> <input id="dob" class="form-control"
													placeholder="Date of Birth" th:field="*{dob}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('dob')}" th:text="${error}">Validation
												error</p>
										</div>



									</div>
									<script>
										$(function() {
											$("#dob").datepicker();
										});
									</script>


									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('gender')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-user"></i>
												</span> <select required id="gender" class="form-control"
													th:field="*{gender}">
													<option value="" selected="selected"></option>
													<option th:each="roleOpt : ${userGenderOptions.entrySet()}"
														th:value="${roleOpt.key}" th:text="${roleOpt.value}"></option>
												</select>
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('gender')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>
									
									
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('martialStatus')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-user"></i>
												</span> <select required id="martialStatus" class="form-control"
													th:field="*{martialStatus}">
													<option value="" selected="selected"></option>
													<option th:each="roleOpt : ${userMartialOptions.entrySet()}"
														th:value="${roleOpt.key}" th:text="${roleOpt.value}"></option>
												</select>
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('gender')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>

									<!-- <div>
										<label for="martialStatus">Role</label> <select
											id="martialStatus" th:field="*{martialStatus}">
											<option value="" selected="selected"></option>
											<option th:each="roleOpt : ${userMartialOptions.entrySet()}"
												th:value="${roleOpt.key}" th:text="${roleOpt.value}"></option>
										</select>
									</div> -->
									<!--<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('age')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-calendar"></i>
												</span> <input id="age" class="form-control" placeholder="Age"
													th:field="*{age}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('age')}" th:text="${error}">Validation
												error</p>
										</div>
									</div>



									 <div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('gender')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-user"></i>
												</span> <input type="radio" th:field="*{gender}" value="Male" /><label
													th:text="Male">M</label> <input type="radio"
													th:field="*{gender}" value="Female" /><label
													th:text="FeMale">F</label>
												<p class="error-message"
													th:each="error: ${#fields.errors('gender')}"
													th:text="${error}">Validation error</p>
											</div>
										</div>
									</div> -->
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-lock"></i>
												</span> <input id="password" class="form-control"
													placeholder="password" type="password"
													th:field="*{password}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('password')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-lock"></i>
												</span> <input id="confirmPassword" class="form-control"
													type="password" placeholder="Confirm password"
													th:field="*{confirmPassword}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('confirmPassword')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group"
											style="width: 175px; margin-left: -70px;"
											th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
											<input id="terms" type="checkbox" th:field="*{terms}" />   <label
												class="control-label" for="terms"> I agree with the
												<a href="#">terms and conditions</a> for Registration.
											</label>
											<p class="error-message"
												th:each="error : ${#fields.errors('terms')}"
												th:text="${error}">Validation error</p>
										</div>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-block">Register</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Already registered? <a href="/" th:href="@{/login}">Login</a>
					</div>
					<div class="col-md-12">
						Forgot password? <a href="/" th:href="@{/forgot-password}">Reset
							password</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script
		src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<link rel="stylesheet"
		href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
</body>
</html>